.leftside {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 270px;
    position: fixed;
    top: 75.5px;
    bottom: 0;
    border: 1px solid rgb(196, 196, 196);
    padding-left: 8px;
    overflow-y: auto;
}

.lefthigh {
   
    border-bottom: 1px solid rgb(6, 5, 5);
    width: 89%;
    height: 100%;
    padding: 15px 10px 20px;
    direction: ltr;
    text-align: left;
    font-family: IBMPlex, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    position: relative;
}

.classleft {
    font-weight: 500;
    font-size: 12px;
    color: #1A1A1B;
    line-height: 16px;
    padding: 16px 24px 8px;
    margin: 2px 0;
    cursor: pointer;
    font-weight: 600;
    background-color: white;

    display:flex;
    align-items:center;
}

    .classleft:hover {
        background-color: rgb(190, 190, 190);
    }

.classleft1 {
    padding: 8px 24px;
    font-weight: 500;
    margin: 4px 0;
    font-size: 10px;
    color: #878A8C;
}
