.right_side
            {
                background-color: #DAE0E6;
                display:flex;
                flex-direction: row;
                flex-grow: 1;
                position: fixed;
                right: 0;
                bottom: 0;
                overflow: auto;
                z-index: 1;
                
                
            }

            .right_side_inner
            {
                background-color: #DAE0E6;
                display:flex;
                flex-direction: column;
                flex-grow: 1;
                width: 100%;
                position: relative;
                right: 0;
                left: 100;
                bottom: 0;
                top:0;
                overflow-y: auto;
                z-index: 1;
               
                
            }

            .postbar_div
            {
                padding-left: 24px;
                padding-right: 24px;
                display: flex;
                flex-direction: row;
                flex-grow: 1;
                align-items: center;
                position: absolute;
                top: 20px;
                cursor: pointer;
                flex-shrink: 2;
                z-index: 1;
                left: 30px;
                background-color: #ffffff;
                width: 605px;
                height: 60px;
                padding-left: 5px ;
                border:1px;
                border-style: solid;
                border-color: rgb(190, 190, 190);
                border-radius: 5px;
            
            }

            .post-bar
            {
                background-color: rgb(248, 247, 248) ;
                border-radius: 5px;
                border-width: 0.8px;
                border-color: rgb(255,255,255);
                border-style: solid;
                font-family: IBMPlexSans, Arial,sans-serif;
                font-size: 16px;
                font-stretch: 100%;
                font-style: normal;
                height: 40px;
                margin-left:  25px;
                margin-right: 10px;
                background-color: #F6F7F8;
                padding-left: 10px;
                vertical-align: center;
                width: 450px;
    


            }

            .post-bar:hover
            {
                border-width: 0.8px;
                border-color: blue;
            }
            .another2
            {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                
            }
            .again2
            {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                flex-grow: 1.8;
            }
            .again1
            {
                flex-grow: 1;
                position: absolute;
                top: 20px;
                left: 720px;
                display:flex;
                flex-direction: column;
                
                


            }
            .again1_1
            {
                position: fixed;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 300px;
                height:fit-content;
                
                

            }
            .again1_1_element
            {
                background-color: white;
                padding-left: 12px;
                padding-right: 12px;
                padding-top: 3px;
                padding-bottom: 8px;
                display: flex;
                flex-direction: row;
                border: 0.8px;
                border-color: rgb(255, 255, 255);
                border-style: solid;
                height: fit-content;
                width: 300px;;
                text-align: left;
                vertical-align: center;
                cursor: pointer;
            }
            .again1_1_element_paragraph
            {
                font-size: 12px;
                color: #1C1C1C;
                font-family: IBMPlexsans,Arial, sans-serif;
                vertical-align: center;
                font-weight: 700;

            }

            .bar
            {
                width: 630px;
                height: 60px;
                background-color: white;
                position: absolute;
                top:100px;
                left:30px;
                display: flex;
                flex-direction: row;
                align-items: center;
                padding-left: 5px ;
                border:1px;
                border-style: solid;
                border-color: rgb(190, 190, 190);
                border-radius: 5px;
                
            }  
            .dummypost
            {
                width: 630px;
                height: 1170;
                background-color: white;
                position: absolute;
                top:180px;
                left:30px;
                display: flex;
                flex-direction:column;
                align-items: center;
                border:0.8px;
                border-style: solid;
                border-color: rgb(190, 190, 190);
                border-radius: 5px;
                cursor: pointer;
                vertical-align: top;
                align-items: center;
            } 
            .dummypost:hover
            {
                border-color: black;
            }

            .dummypost1
            {
                width: 630px;
                height: 1000px;
                background-color: white;
                position: absolute;
                top:1370px;
                left:30px;
                display: flex;
                flex-direction:column;
                align-items: center;
                border:0.8px;
                border-style: solid;
                border-color: rgb(190, 190, 190);
                border-radius: 5px;
                cursor: pointer;
                vertical-align: top;
                align-items: center;
            } 
            .dummypost1:hover
            {
                border-color: black;
            }
            .post_col_1
            {
                width: 32;
                font-family:IBMPlexSans,Arial, sans-serif;
                font-weight: 700;
                font-size: 12px;
                background-color:#e4e4e4cc;
                position: absolute;
                left:0px;
                height:inherit;
                

            }
            .post_col_2
            {
                width: 555;
                font-family:IBMPlexSans,Arial, sans-serif;
                background-color:#ffffff;
                position: absolute;
                left:32px;
                height: fit-content;
                display: flex;
                flex-direction: column;
                padding-top: 5px;
                vertical-align: center;

            }
               



               .buttonhover1
               {
                background-color:rgb(239, 239, 239);
                cursor: pointer;
                 

               }
               .buttonhover1:hover
               {
                background-color: rgb(162, 162, 162);
                
                

               }

              .button-hover-effect
               {
                background-color: white;
                background-color: white;
                border: 2px;
                border-color: white;
                width: 70px;
                height:40px;
                color: rgb(162, 162, 162);
                border-radius: 1.25em; 
                font-size: 15px;
                font-weight: 700;
                cursor: pointer;

               }
               .button-hover-effect:hover
               {
                background-color:rgb(239, 239, 239);
               }

               .createpostbutton
                    {
                        border-radius: 1.25em;
                        border-color: #0079D3;
                        border-width: 0.8px;
                        border-style: solid;
                        background-color:#0079D3;
                        width:100%;
                        text-align: center;
                        color: #ffffff;
                        font-weight: 700;
                        cursor: pointer;
                        height: 30.4px;
                        width:290px;
                        height:30px;
                        margin: 5px;

                    }

                    .createpostbutton:hover{
                        opacity: 0.8;
                        transition: .15s;
                    }

                    .createcommunitybutton
                    {
                        border-radius: 1.25em;
                        border-color: #0079D3;
                        border-width: 0.8px;
                        border-style: solid;
                        color:#0079D3;
                        width:100%;
                        text-align: center;
                        background-color: #ffffff;
                        font-weight: 700;
                        cursor: pointer;
                        height: 30.4px;
                        width:290px;
                        height:30px;
                        margin: 5px;
                        margin-top: 0;

                    }

                    .createcommunitybutton:hover{
                        background-color: #8fbfe4;
                        transition: .15s;
                    }


           