


.contact {
    background-color: #f7f7f7;
    padding: 60px 0;
}

.contact .section-title {
    text-align: center;
    margin-bottom: 40px;
}

    .contact .section-title h2 {
        color: black;
    }

    .contact .section-title span {
        color: darkblue;
    }

.contact-info-item {
    margin-bottom: 30px;
}

    .contact-info-item img {
        width: 40px;
        margin-bottom: 10px;
    }

    .contact-info-item h4 {
        color: black;
        font-size: 18px;
        margin-bottom: 10px;
    }

    .contact-info-item p {
        color: black;
        font-size: 16px;
    }

.contact-form .form-group {
    margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
    border: 1px solid #ccc;
    padding: 12px;
    width: 100%;
    border-radius: 4px;
    font-size: 16px;
}

.contact-form .btn {
    background-color: #3a983b;
    color: #fff;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
}

    .contact-form .btn:hover {
        background-color: #ff5252;
    }

.contact-form #SentConfirmationText {
    color: #008000;
    margin-top: 10px;
    display: block;
}




body {
    /*background-color: #b1b1b1; */
    background-color: white;
}

.carousel-item {
    margin-top: 15px;
    width: 100%;
    height: 100vh; /* Set height to 100% of viewport height */
}

    .carousel-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin: 0 auto;
    }

#lottieContainer {
    width: 50%;
    height: auto;
    margin: 0 auto;
}


