.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}



.label1 {
    display: block;
    margin-bottom: 5px;
}

.class1 {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.class2 {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.file-upload {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    display: inline-block;
    padding: 8px 12px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

    .file-upload:hover {
        background-color: #e5e5e5;
    }

.image-preview {
    margin-bottom: 10px;
}

.visibility-dropdown {
    margin-bottom: 20px;
}

.create-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    .create-button:hover {
        background-color: #45a049;
    }

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}


